@use '../base/' as *;

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  min-height: 100vh;

  h1 {
    width: 60%;
    font-size: $font-size-xl;
    background-color: rgb(212, 144, 212);
    padding: 0.5rem 1rem;
  }

  div {
    width: 60%;
    background-color: #282828;
    color: white;
    padding: 0.5rem 1rem;

    a {
      text-decoration: none;
      color: rgb(213, 213, 120);
      text-transform: capitalize;

      &:hover {
        color: rgb(207, 143, 154);
      }
    }

  }
}


.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}
