.post_container {
    position: relative;
    margin: 20vh auto 10rem;
    padding: 4rem 0 2rem;
    min-height: 90vh;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, orange, orangered);
    color: rgb(0, 0, 0);

    @media screen and (max-width: 768px) {
        width: 80%;
    }

    a {
        text-decoration: none;
        position: absolute;
        top: 2rem;
        left: 1rem;
        z-index: 100;
        padding: 0.5rem 1rem;
        background-color: rgb(9, 247, 116);
        color: rgb(0, 0, 0);
        transition: all 0.3s ease;
        cursor: pointer;

        @media screen and (max-width: 768px) {
            top: 0;
            left: 0;
        }

        &:hover {
            color: aliceblue;
            background-color: palevioletred;

            span {
                color: white;
            }
        }

        span {
            padding: 0 0.5rem 0 0;
            color: black;
            font-size: 1rem;
        }
    }

    .post {
        margin: 0 auto;
        max-width: 70%;

        @media screen and (max-width: 768px) {
            max-width: 95%;
        }
    }

    h2 {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    p  {
        margin-top: 1rem;
        font-size: clamp(1.2rem, 1.4vw, 2rem);
        letter-spacing: 2px;
        line-height: 1.5rem;
        width: 100%;
        color: black;
    }

    p > img {
        margin: 0 auto;
        min-width: 60%;
        max-width: 100%;        
        height: auto;
        position: relative;
    }
}