.posts_page {
    position: relative;
    margin: 20vh auto 2rem;
    padding: 2rem 1rem;
    min-height: 90vh;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3f3d3d;
    color: rgb(90, 164, 185);

    a {
        text-decoration: none;
        position: absolute;
        top: 5vh;
        left: 2rem;
        padding: 0.5rem 1rem;
        background-color: rgb(24, 127, 127);
        color: rgb(211, 209, 209);
        transition: all 0.3s ease;

        &:hover {
            color: aliceblue;
            background-color: palevioletred;

            span {
                color: white;
            }
        }

        span {
            padding: 0 0.5rem 0 0;
            color: black;
            font-size: 1rem;
        }
    }

    .post {
        margin: 0 auto;
        max-width: 70%;
    }

    h1 {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
    }

    p  {
        color: white;
        font-size: clamp(1.2rem, 1.4vw, 2rem);
        letter-spacing: 2px;
        line-height: 1.5rem;
    }

    img {
        margin: 0 auto;
        width: 100%;
        height: auto;
        position: relative;
    }
}