@use '../../../styles/base' as *;

.nav_btn{
  position:fixed;
    top: 6.25rem;
    right: 5rem;
    z-index: 1000;
    border:none;
    background-color: $color-orange;
    color: #fafafa;
    font-family: $font;
    font-weight: 800;
    font-size: clamp(1rem, 1.6vw, 2rem);
    padding:0.5rem 1.2rem;
    text-transform:capitalize;
    cursor:pointer;
    transform:all 0.3s;

    @media screen and (max-width: 768px) {
      top: 5.25rem;
      right: 1rem;
    }
    

    &::before{
      content:"";
      position :absolute;
      width:24px;
      height:24px;
      top:-5px;
      right:5px; 
      bottom:5px;
      left:-5px;
      border-bottom:2px solid #181818;
      border-right:2px solid  #181818;
      border-top:2px solid  #181818;
      border-left:2px solid  #181818;
      transition:all 0.30s;  
      z-index: 2;     
      }
      &:hover::before{
        width:98%;
        height:94%;
        
        top: 0px;
        right: -2px;
        bottom: -2px;
        left: 0px;
      }
  }
  