.nav_btn{
    border:none;
    background-color: whitesmoke;
    font-size: 1.5rem;
    padding:0.5rem 1.2rem;
    text-transform:capitalize;
    cursor:pointer;
    transform:all 0.3s;
    position:fixed;
    top: 1rem;
    right: 5rem;
    z-index: 1000;

    &::before{
      content:"";
      position :absolute;
      width:24px;
      height:24px;
      bottom:5px;
        right:5px;
        top:-5px;
        left:-5px;
      border-bottom:2px solid tomato;
      border-right:2px solid tomato;
      border-top:2px solid tomato;
      border-left:2px solid tomato;
      transition:all 0.30s;  
      z-index: 2;     
      }
      &:hover:before{
        -webkit-text-stroke: 1px rgb(0, 0, 0);
        width:110%;
        height:120%;
      }
  }
  