@use './colors' as *;

.lightmode {
    background-color: $color-bg-alt;
    color: $color-1;
    transition: all 0.5s ease-in-out;

    h1 {
        color: $color-1;
    }

    h2 {
        color: $color-2
    }

    p {
        color: $color-p;
    }

    .card {
        background-color: $color-card-bg;
        color: $color-2;
    }


    /* a {
        color: $color-link;
        background-color: $color-1;

        &:hover {
            color: darken($color-link, 5%);
        }
    } */


}

.darkmode {

    background-color: $color-dark-bg-alt;
    color: $color-dark-1;
    transition: all 0.5s ease-in-out;

    h1 {
        color: $color-dark-1;
    }

    h2 {
        color: $color-dark-1;
    }

    p {
        color: $color-dark-p;
    }

    .card {
        background-color: $color-card-dark-bg;
        color: $color-dark-2;
    }

    .post_container {
        background-color: $color-card-dark-bg;
    }
/* 
    a {
        color: $color-link-dark;
        background-color: $color-black;

        &:hover {
            color: darken($color-link-dark, 5%);
        }
    } */
}