@use '../../../styles/base/' as *;

@mixin customExtend($class){ @extend .#{$class}; }


.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow-x: hidden;
  background-color: $color-dark-bg-alt;
  transition: all 0.4s ease;

   ul {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    background: transparent;
    z-index: 2;

     li {
      position: relative;
      width: 50%;
      padding: 0.5rem 0;
      overflow: hidden;
      font-family: $font;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: $color-dark-bg-alt;
      border-bottom: 1px solid rgb(221, 221, 221);
      margin-right: 0;
      margin-left: auto;

      &:nth-child(1) {
        margin-top: 20vh;
      }

      &:hover {
        cursor: pointer;

        a::before {
          width: 100%;
          -webkit-text-stroke: none;
          color: $color-orange;
          overflow: hidden;
        }
      }

      > a {
        text-decoration: none;
        margin-right: 20vw;
        padding: 0.5rem 1rem;
        font-size: clamp(1rem, 3vw, 3rem);
        font-weight: $font-bold;
        line-height: 4rem;
        color: transparent;
        -webkit-text-stroke: 0.1rem $color-orange;

        &::before {
          content: attr(data-text);
          position: absolute;
          color: #fff;
          width: 0;
          overflow: hidden;
          transition: 0.8s linear;
          z-index: 10;
        }

       
      }
    }
  }
}
