@use '../../../styles/base/' as *;

@mixin customExtend($class){ @extend .#{$class}; }


.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  background-color: $color-dark-bg-alt;
  transition: all 0.4s ease;

  > ul {
    margin: 0 auto;
    padding: 5rem 0;
    list-style-type: none;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: transparent;
    z-index: 2;

    > li {
      position: relative;
      width: 100%;
      padding: 0.5rem 0;
      overflow: hidden;
      font-family: $font-base;
      line-height: 3.5rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: $color-dark-bg-alt;
      border-bottom: 1px solid rgb(221, 221, 221);

      &:hover {
        cursor: pointer;

        a::before {
          width: 100%;
          -webkit-text-stroke: 1px rgb(255, 255, 255);
          color: white;
          overflow: hidden;
        }
      }

      > a {
        text-decoration: none;
        margin-left: 4rem;
        padding: 0.5rem 1rem;
        font-size: clamp(1rem, 3vw, 3rem);
        font-weight: $font-bold;
        color: transparent;
        -webkit-text-stroke: 0.01rem rgba(247, 244, 244, 0.87);

        &::before {
          content: attr(data-text);
          position: absolute;
          color: #fff;
          width: 0;
          overflow: hidden;
          transition: 0.8s linear;
          z-index: 10;
        }

       
      }
    }
  }
}
